notebooks/cache/
notebooks/author-00motivation.ipynb
notebooks/author-01sesion.ipynb
notebooks/author-M1-sesion3-PT1.ipynb
notebooks/00-motivation.ipynb

#-----
# --- Sphinx build outputs (no versionar) ---
docs/build/
**/_build/
**/.doctrees/
**/_sources/
*.pickle
*.inv

# Si llegaran a colarse subcarpetas típicas del build:
docs/build/html/
docs/build/html/_static/
docs/build/html/_images/

# --- Jupyter ---
**/.ipynb_checkpoints/
**/jupyter_execute/

# Ignorar todos los notebooks de modulo1
docs/source/modulo1/*
!docs/source/modulo1/M1-sesion1.ipynb
!docs/source/modulo1/M1-sesion2.ipynb
!docs/source/modulo1/1-fundamentos_probabilidad.ipynb
!docs/source/modulo1/2-interpretaciones_probabilidad.ipynb
!docs/source/modulo1/3-operaciones_probabilidad.ipynb
!docs/source/modulo1/4-independencia.ipynb
!docs/source/modulo1/M1-sesion3-PT1.ipynb
!docs/source/modulo1/M1-sesion3-PT2.ipynb
!docs/source/modulo1/M1-sesion4.ipynb
!docs/source/modulo1/M1-sesion5-PT1.ipynb
!docs/source/modulo1/M1-sesion5-PT2.ipynb
!docs/source/modulo1/M1-sesion6-PT1.ipynb
!docs/source/modulo1/M1-sesion6-PT2.ipynb
!docs/source/modulo1/M1-sesion7.ipynb
!docs/source/modulo1/apendiceA.ipynb

**/jupyter_execute/
soporte/

#--- JetBrains
.idea/
.venv/