notebooks/cache/
notebooks/author-00motivation.ipynb
notebooks/author-01sesion.ipynb
notebooks/author-M1-sesion3-PT1.ipynb
notebooks/00-motivation.ipynb
notebooks/02-sesion.ipynb
#-----
# --- Sphinx build outputs (no versionar) ---#
docs/build/
**/_build/
**/.doctrees/
**/_sources/
*.pickle
*.inv

# Si llegaran a colarse subcarpetas típicas del build:
docs/build/html/
docs/build/html/_static/
docs/build/html/_images/

# --- Jupyter ---#
**/.ipynb_checkpoints/
**/jupyter_execute/

# Ignorar notebooks
#--- Modulo 1 ---#
docs/source/modulo1/*
!docs/source/modulo1/M1-sesion1.ipynb
!docs/source/modulo1/M1-sesion2A.ipynb
!docs/source/modulo1/index.md
!docs/source/modulo1/.gitkeep
!docs/source/modulo1/M1-sesion3-PT1.ipynb
!docs/source/modulo1/M1-sesion3-PT2.ipynb
!docs/source/modulo1/M1-sesion4.ipynb

#--- Modulo 2 ---#
docs/source/modulo2/*
!docs/source/modulo2/.gitkeep
#!docs/source/modulo2/index.md

#--- Modulo 3 ---#
docs/source/modulo3/*
!docs/source/modulo3/.gitkeep
#!docs/source/modulo3/index.md

**/jupyter_execute/
soporte/

#--- JetBrains ---#
.idea/
.venv/